.contacts {
	&__office {
		flex-basis: 43.42%;
		&-and-support {
			display: flex;
			justify-content: space-between;
		}
		&-header {
			margin-bottom: 26px;
		}
		&-address {
			margin-bottom: 23px;
		}
		&-content {
			display: flex;
			justify-content: space-between;
		}
	}
	&__support {
		flex-basis: 45%;
		&-header {
			margin-bottom: 30px;
		}
		&-description {
			margin-bottom: 30px;
		}
	}
}
@include for-extra-small {
	.contacts {
		&__office-and-support {
			flex-direction: column;
		}
		&__office, &__support {
			flex-basis: auto;
			max-width: 526px;
		}
		&__office {
			margin-bottom: 30px;
			&-description {
				flex-basis: 70%;
			}
		}
	}
}
@include for-small {
	.contacts {
		&__office {
			flex-basis: 55%;
		}
	}
}
@include for-medium {
	.contacts {
		&__office {
			flex-basis: 51%;
		}
	}
}